<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
    />
    <title>Navbar</title>
    <link href="/css/header.css" rel="stylesheet" />
  </head>
  <body>
    <div class="header">
      <div id="logo">
        <img
          style="width: 48px; height: 48px"
          src="/images/logo.png"
          alt="logo of an amethyst geode"
        />
      </div>
      <div id="about">
        <p><%= about %></p>
      </div>
      <div id="contact">
        <p><%= contact %></p>
      </div>
      <div id="github">
        <p>Github</p>
      </div>
      <div id="blogpage">
        <p><%= blogpage %></p>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/header.js"></script>
  </body>
</html>
