<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet"/>
    <script src="https://esm.sh/css-doodle/css-doodle.min.js?raw"></script>
</head>
<body>
    <css-doodle class="background-doodle">
        @grid: 14;

        :container {
            gap: 1px;
            transform: rotate(45deg);
        }

        transition: @r(1.5s) ease-in;

        @random(0.3) {
            background: radial-gradient(
            circle,
            @p(#FF5B00, #FF000D, #FEE12B),
            transparent @p(0%, 5%, 10%, 15%, 20%, 25%, 30%, 35%, 40%)
            );
            background-position: @r(50%);
            background-size: 40% 100%;
            background-repeat: no-repeat;
        }

        @random(.3) {
            filter: drop-shadow(0 0 10px #fff);
        }
    </css-doodle>
    <div class="content">
        <%- include("header.ejs") %>
        <div class="flexbox">
            <h1 class="fade">Hi.</h1>
            <div>
                <p id="me">I'm Junnian, and I <strong>code.</strong></p>
            </div>
            <div class="container">
                <button id="other-projects">Check out my projects</button>
            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
