* {
  font-family: 'Inter', monospace;
}

body {
    background-color: black;
    text-align: center;
    color: white;
}

p {
    font-size: 1rem;
}

#intro {
    text-align: left;
    margin-left: 6vw;
    margin-top: 100px;
    font-size: 2.5rem;
}

.flexbox {
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
    margin-left: 6vw;
    max-width: 50vw;
    min-height: 59vh;
}

.flexbox2 {
    display: flex;
    justify-content: space-between;
}

form {
    padding: 16px 0 16px 0;
    height: 20px;
}

.blog {
    font-size: 1rem;
    border: none;
    background-color: black;
    color: white;
}

.blog:hover {
    transform: scale(1.1);
    animation: changeColor 1s;
}

@keyframes changeColor {
    to {
        color: fuchsia
    }
}

#return { 
    position: fixed;
    top: 40px;
    right: 20px;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: black;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    transition: color 1s ease;
}

#return:hover {
    transform: scale(1.05);
    color: fuchsia;
    
}

img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 128px;
    height: 128px;
}


