.header {
    width: 50vw;
    padding-top: 10px;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
}

#logo {
    padding-left: 5vw;
    cursor: pointer;
    grid-area: 1 / 1 / 2 / 2;
    image-rendering: pixelated;
}

#about {
    transition: color 1s ease;
    cursor: pointer;
    grid-area: 1 / 2 / 1 / 3;
}

#contact {
    transition: color 1s ease;
    cursor: pointer;
    grid-area: 1 / 3 / 1 / 4;
}

#github {
    transition: color 1s ease;
    cursor: pointer;
    grid-area: 1 / 4 / 1 / 5;
}

#blogpage {
    transition: color 1s ease;
    cursor: pointer;
    grid-area: 1 / 5 / 1 / 6;
}

#blogpage:hover, #github:hover, #contact:hover, #about:hover, #logo:hover {
    color: fuchsia;
    transform: scale(1.05);
}
