* {
  font-family: 'Inter', monospace;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

.background-doodle {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none; 
}

.content {
  position: relative;
  z-index: 1;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 20px;
}

p {
  font-size: 1rem;
  margin-bottom: 50px
}

.flexbox {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fade {
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
}

#me {
  font-size: 2rem;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1.5s;
}

#other-projects{
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 2.5s;

  background-color: fuchsia;
  color: white;
  font-size: 1.25rem;

  padding: 12px 24px;
  border: none;
  border-radius: 6px;

  min-width: 250px;
  height: auto;

  box-shadow: 0 4px 0 #690073;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#other-projects:hover{
  transform: translateY(-2px);
  box-shadow: 0 6px 0 #690073;
}

#other-projects:active{
  transform: translateY(1px);
  box-shadow: 0 2px 0 #690073;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}



