* {
  font-family: 'Inter', monospace;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
}

p {
  font-size: 1rem;
}

.flexbox {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fade {
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
}

#me {
  font-size: 2rem;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1.5s;
}

#other-projects{
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 2.5s;

  background-color: blueviolet;
  color: white;
  font-size: 1.25rem;

  padding: 12px 24px;
  border: none;
  border-radius: 6px;

  min-width: 250px;
  height: auto;

  box-shadow: 0 4px 0 #5a2ea6;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#other-projects:hover{
  transform: translateY(-2px);
  box-shadow: 0 6px 0 #5a2ea6;
  font-weight: 900;
}

#other-projects:active{
  transform: translateY(1px);
  box-shadow: 0 2px 0 #5a2ea6;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}



